<div class="contracts-ctnr">

    <div data-ng-if="ContractsCtrl.fullText === false">

        <table class="table table-striped table-bordered">
            <tr data-ng-repeat="contract in ContractsCtrl.contracts">
                <td>
                    <a target="_blank" data-ng-href="{{contract.url || contract.pdf}}">
                        <i class="fa fa-file-pdf-o"></i> {{contract.name}}
                    </a>
                </td>
            </tr>
        </table>

        <div class="checkbox">
            <label for="validateContract">
                <input type="checkbox" id="validateContract"
                       name="validateContract"
                       data-ng-model="ContractsCtrl.agree" />
                <span data-ng-if="ContractsCtrl.contracts.length > 1" data-translate="contracts_agree"></span>
                <span data-ng-if="ContractsCtrl.contracts.length === 1" data-translate="contract_agree"></span>
            </label>
        </div>
    </div>

    <div data-ng-if="ContractsCtrl.fullText === true">

        <p data-ng-if="ContractsCtrl.contracts.length > 1" data-translate="contracts_list_title" data-translate-values="{'nbr': ContractsCtrl.contracts.length}"></p>
        <p data-ng-if="ContractsCtrl.contracts.length === 1" data-translate="contract_list_title"></p>

        <div class="contracts-list clearfix">
            <uib-accordion close-others="false" class="clearfix">
                <uib-accordion-group heading="{{contract.name}}" is-open="true" data-ng-repeat="contract in ContractsCtrl.contracts" id="contract-{{$index}}">
                    <pre class="contracts-content">{{contract.content || contract.text}}</pre>
                </uib-accordion-group>
            </uib-accordion>
        </div>

        <div class="contracts-breadcrumb my-2 text-center clearfix" role="navigation" data-ng-show="ContractsCtrl.contracts.length > 1">
            <a class="pull-left contracts-breadcrumb-navigate contracts-breadcrumb-navigate-previous">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span data-translate="contract_previous"></span>
            </a>
            <ul class="contracts-menu list-unstyled">
                <li class="contracts-breadcrumb-navigate"
                    data-ng-repeat="contract in ContractsCtrl.contracts">
                    <a title="{{contract.name}}"
                       data-fake-href="#contract-{{$index}}"
                       data-ng-class="{
                            'active' : ContractsCtrl.currentContract.name == contract.name
                       }"></a>
                </li>
            </ul>
            <a class="pull-right contracts-breadcrumb-navigate contracts-breadcrumb-navigate-next">
                <span data-translate="contract_next"></span>
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>

        <a title="{{contract.name}}" target="_blank" class="block text-center text-muted my-2"
           data-ng-href="{{ContractsCtrl.currentContract.url || ContractsCtrl.currentContract.pdf}}" data-ng-if="ContractsCtrl.currentContract.name">
            <i class="fa fa-file-pdf-o"></i> <span data-translate="contract_download" data-translate-values="{'id': ContractsCtrl.currentContract.name}"></span>
        </a>

        <div class="checkbox my-3 p-3">
            <label for="validateContract">
                <input type="checkbox" id="validateContract"
                       name="validateContract"
                       data-ng-model="ContractsCtrl.agree" />
                <span data-ng-if="ContractsCtrl.contracts.length > 1" data-translate="contracts_agree"></span>
                <span data-ng-if="ContractsCtrl.contracts.length === 1" data-translate="contract_agree"></span>
            </label>
        </div>
    </div>
</div>
